
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
p{
    padding: 10px ;
}
body{
    background-color: #f4f4f4;
    font-family: 'Cabin Condensed', sans-serif;
}
nav{
    background-color: #000000;
    padding: 5px 20px;
    position: fixed;
    z-index: 9999;
    width: 100%;
}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
li{
    font-size: 16px; 
    padding: 15px 5px;
}
li a{
    display: block;
    color: white;
}
img{
    width: 40px;
    height:40px;
}
.forgetPassword{
    float: right;
}
.name{
    color:#006d6d;
}
.err{
    color: red;
    list-style-type: none;
}
.fb-login-button{
    margin-bottom: 0px;
}
.social{
    text-decoration: none;
    color: white;
}
.button.secondary{
    border-bottom: 1px solid #444;
}
.btn{
    background: teal;
    border: 1px solid #006d6d;
    border-radius: 50em;
    color: white;     
}
.logo{
    margin-right: 0;
    color: #8ec6c5;
    font-size: 40px;
}
/* mobile menu */
.item.button{
    order: 2;
}
.item{
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}
.item.active{
    display: block;
}
.toggle{
 cursor: pointer;
 order: 1;
}
.bars{
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}
.bars::before,.bars::after{
    background: #999;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}
.bars::before{
    top:5px;
}
.bars::after{
    top: -5px;
}

/* Tablet menu */
@media all and (min-width:468px){
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        order: 2;
    }
    .button.secondary{
        border: 0;
    }
    .button a{
        text-decoration: none;
        padding: 7px 15px;
        background: teal;
        border: 1px solid #006d6d;
        border-radius: 50em;
    }
    .button.secondary a{ 
        background: transparent;
    }
    .button a:hover{
        transition: all .25s;
    }
    .button:not(.secondary) a:hover{
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover{
        background: #006d6d;
    }
}

@media all and (min-width: 768px){
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0; 
    }
    .item{
        order: 1; 
    }
    .button{
        order: 2; 
    }
    .menu li{
        padding: 15px 10px;
    }
    .menu li.button{
        padding-right: 0;
    }
}
.container{
    position: relative;
    align-items: center;
    padding: 50px 10%;
}
.compose{
    float: right;  
}
footer {
	width: 100%;
	height: 60px;
    background-color: #000000;
    text-align: center;
    margin-bottom: 0;
}
footer p {
    padding-top: 20px;
	margin-top: 25px;
	font-size: 12px;
    color: #fff;
}